In [4]:
# exercice 1.1 ecrire une fonction qui retourne la factorielle d'un nombre entier 
nombre=int(input("entrer un nombre: "))

def factorielle(a):
    a=nombre
    for i in range(1,nombre):
        a=a*(nombre-i)
    return a
factorielle(nombre)

entrer un nombre: 4

4

In [11]:
#exercice 1.2
nombre=int(input("entrer un entier: "))
def impaire(a):
    i=1
    liste_1=[]
    while i<=a:
        if i%2!=0:
            liste_1.append(i)
        i+=1
    return liste_1
s=impaire(nombre)
print(s)

entrer un entier: 10
[1, 3, 5, 7, 9]

In [64]:
#exercice1.3
# trier et afficher
liste=[17,38,10,25,72]
liste.sort()
liste

[10, 17, 25, 38, 72]

In [65]:
# ajouter element 12
liste.append(12)
liste

[10, 17, 25, 38, 72, 12]

In [66]:
# renverser la liste et afficher
liste.reverse()
liste

[12, 72, 38, 25, 17, 10]

In [67]:
# nombre d'elements de la liste 
len(liste)

6

In [68]:
#supprimer l'element 38
liste.remove(38)
liste

[12, 72, 25, 17, 10]

In [69]:
# sclicing 
# la sous liste du deuxieme au troisieme element
liste[1:3]

[72, 25]

In [70]:
#afficher la sous liste du debut au deuxieme element
liste[:2]

[12, 72]

In [71]:
# afficher la sous liste du troisieme element Ã  la fin de la liste
liste[2:]

[25, 17, 10]

In [9]:
# ecrit une fonction qui supprime les doublons d'une liste
liste_1=[1,1,2,2,5,6,7,9,6,8,8]
liste_2=[]
def unique(liste_1):
    liste_2=[]
    l=len(liste_1)
    for i in range(1,l):
        if liste_1[i] not in liste_2:
            liste_2.append(liste_1[i])
    return liste_2
u=unique(liste_1)
print(u)

[1, 2, 5, 6, 7, 9, 8]